@import "./variable.less";
@import "./util.less";

@margin: 80px;

.header {
    .bgc(#0084f2);
    .layout;
    padding: 0;
    height: 56px;
    line-height: 56px;

    .function {
        flex: 1;
        .layout(flex-end, center);
        .ant-input-preSuffix-wrapper {
            margin-right: @margin * 2;
            width: auto;
            .ant-input-search {
                width: 160px;
                border-radius: 14px;
                padding-left: 14px;
                transition: width 0.2s, background-color 0.2s;
                background-color: #0079db;
                border: none;
            }
            .input-focus {
                width: 240px;
                background-color: white;
            }
            .ant-input-search-icon:before {
                color: #aaa;
            }
        }
    }
    .logo {
        .size(240px, 100%);
        .layout(flex-start, center);
        & > img {
            .size(130px, 40px);
            margin-left: @margin;
        }
    }
}