@import "../../common/commonStyle";

$borderRadius: 10px;
.user-setting {
    @include floatIndex;
    @include containerCenter;
    width: 300px;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    border-radius: $borderRadius;

    & > :nth-child(1000n+1) {
        @include flexCenter(column);
        background-color: #ffffff;
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
        position: relative;
        padding-bottom: 10px;

        & > i {
            position: absolute;
            right: 5px;
            top: 1px;
            font-size: 20px;
            color: #999;
            cursor: pointer;
            z-index: 2;

            &:hover {
                color: #c02721;
            }
        }
        .background-image {
            @include size(300px, 300px);
            @include containerStart;
            filter: blur(30px);
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
        .background-mask {
            @include size(300px, 300px);
            @include containerStart;
            background-color: black;
            opacity: 0.25;
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }
        .content {
            @include flexCenter(column);
            z-index: 1;

            & > :nth-child(1000n+1) {
                margin-top: 20px;
                cursor: pointer;
            }
            & > :nth-child(1000n+2) {
                margin-top: 15px;
                color: white;
                font-size: 20px;
            }
            .icon-list {
                @include flexCenter;
                margin-top: 10px;

                & > a {
                    font-size: 26px;
                    color: $grey0;
                    background-color: rgba(black, 0);
                    margin-right: 15px;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: $lightBlue5;
                    }
                }
                & > a:last-child {
                    margin-right: 0px;
                }
            }
            .avatar-mask {
                @include size(80px, 80px);
                @include horizontalCenter;
                @include flexCenter;
                border-radius: 50%;
                background-color: rgba(black, 0.3);
                top: 20px;
                color: $grey2;
                font-size: 28px;
                pointer-events: none;
            }
            input {
                display: none;
            }
        }
    }

    .normal-status {
        flex: 1;
        background-color: $grey0;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        z-index: 1;
        padding-bottom: 20px;

        & > :nth-child(1000n+1) {
            @include flexCenter;

            & > div {
                @include flexCenter;
                padding-top: 20px;

                & > div {
                    @include flexCenter(column);

                    & > span {
                        font-size: 16px;
                        margin-bottom: 10px;
                        color: $grey7;
                    }
                }

                & > div:nth-child(1000n+1) {
                    align-items: flex-end;

                    & > span {
                        color: $grey5;
                    }
                }
                & > div:nth-child(1000n+2) {
                    align-items: flex-start;
                    margin-left: 10px;
                }
            }

            & > :nth-child(1000n+2) {
                margin-right: 10px;
                cursor: pointer;
            }
        }

        & > :nth-child(1000n+2) {
            @include flexCenter;
            @include size(100%, auto);
            margin-top: 10px;

            & > button {
                @include size(120px, 30px);
                border-radius: 5px;
                color: white;
                background-color: $lightBlue5;
                cursor: pointer;
                font-size: 14px;

                &:hover {
                    background-color: $lightBlue7;
                }
            }
        }
    }

    .edit-status {
        flex: 1;
        background-color: $grey0;
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        z-index: 1;
        padding-bottom: 20px;

        & > :nth-child(1000n+1) {
            @include flexCenter;

            & > div {
                @include flexCenter;
                padding-top: 20px;

                & > div:nth-child(1000n+1) {
                    @include flexCenter(column);
                    align-items: flex-end;

                    & > span {
                        color: $grey5;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                }
                & > div:nth-child(1000n+2) {
                    @include flexCenter(column);
                    align-items: flex-start;
                    margin-left: 10px;
                    position: relative;
                    top: -3px;

                    & > input, & > select {
                        @include size(150px, 26px);
                        margin-bottom: 2px;
                        border: 1px solid $grey2;
                        font-size: 14px;
                    }
                }
            }

            & > :nth-child(1000n+2) {
                margin-right: 10px;
                cursor: pointer;
            }
        }

        & > :nth-child(1000n+2) {
            @include flexCenter;
            @include size(100%, auto);
            margin-top: 10px;

            & > button {
                @include size(120px, 30px);
                border-radius: 5px;
                color: white;
                background-color: $lightBlue5;
                cursor: pointer;
                font-size: 14px;

                &:hover {
                    background-color: $lightBlue7;
                }
            }
        }
    }
}